<table>
  <tr>
    <th>Team Name</th>
    <th>Team Mascot</th>
    <th>Team Colors</th>
  </tr>
  <tr>
    <td><%= @team.name %></td>
    <td><%= @team.mascot %></td>
    <td><%= @team.colors %></td>
  </tr>
<table>
