<table>
  <tr>
    <th>Team Name</th>
    <th>Team Mascot</th>
    <th>Team Colors</th>
  </tr>
  <tr>
    <td><%= @teams.name %></td>
    <td><%= @teams.mascot %></td>
    <td><%= @teams.colors %></td>
  </tr>
<table>
