<table>
  <th>League Name</th>
  <tr>
      <td align="center"><a href="/leagues/<%= @league.id %>"><%= @league.name %></a>
      <ul>
      Teams:
        <%@league.teams.each do |team|%>
        <li><%=team.name%></li>
        <%end%>
      </ul>
  </tr>
      </td>
</table>
<br>
<a class="button" href="/">Go Home</a>
