<h1>Welcome to the NYC Soccer League Database</h1>

<p>This is an application where you can keep track of your player profile and build teams to then add to the league in which you will be playing.</p>
